.board {
  padding-bottom: $section-padding;
  padding-top: $section-padding;
  overflow: hidden;
}

.board-list {
  display: block;
  padding: 0;
  margin: 0;
  list-style: none;
  white-space: nowrap;
  li {
    padding: 0;
    //margin: 0 45px 0 0;
    margin: 0;
    display: inline-block;
    vertical-align: top;
  }
}
.board-list-item {
  display: block;
  position: relative;
  padding-bottom: 123px;
  &:hover, &:focus {
    .on-hover {
      opacity: 1;
    }
    .high-five {
      opacity: 1;
    }
    .sticker {
      opacity: 1;
    }
  }
}
.board-list-item-image {
  //width: 428px;
  position: relative;
  z-index: 1;
  img {
    display: block;
    width: 100%;
    transition: opacity $transition-duration $transition-timing-function;
    will-change: opacity;
  }
  .on-hover {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }
}

.sticker {
  position: absolute;
  left: 50%;
  top: 50%;
  transform-origin: center;
  opacity: 0;
  transition: opacity $transition-duration $transition-timing-function;
  transition-delay: 100ms;
  will-change: opacity;
}

.board-list-item-name {
  //font-weight: 500;
  font-weight: 700;
  font-size: 32px; // 36px;
  line-height: 42px;
  //color: $color-primary;
  padding: 0;
  margin: 40px 0 8px 0;

  text-transform: uppercase;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: $color-primary;
  color: transparent;
  //font-family: "IBM Plex Sans", sans-serif;
  position: absolute;
  z-index: 1;
  bottom: 32px; // 65px;
  left: 0; // 10px;
}
.board-list-item-name--outlined {
  color: $color-primary;
  z-index: -1;
}
.board-list-item-position {
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  color: #fff;

  position: absolute;
  bottom: 0;
  left: 0; // 10px;
  z-index: 1;
}

.splide {
  position: relative;
  cursor: $cursor-drag;
  &:active {
    cursor: $cursor-hold;
  }
}
.splide__arrows {
  user-select: none;
  position: absolute;
  right: 0;
  top: -157px;
  cursor: $cursor-default;
}
.splide__arrow {
  width: 70px;
  height: 70px;
  padding: 0;
  margin: 0;
  //border: 0;
  background-color: $color-static;
  display: inline-flex;
  vertical-align: top;
  align-items: center;
  justify-content: center;
  cursor: $cursor-button;
  border: 2px solid transparent;
  transition: background-color $transition-duration $transition-timing-function, border-color $transition-duration $transition-timing-function;
  &:hover {
    background-color: $color-primary;
  }
  &:focus {
    background-color: $color-primary;
    border-color: $color-pink-active;
  }
  &:active {
    background-color: $color-static;
  }
  &:disabled {
    background-color: #5A5A5A;
    cursor: $cursor-default;
  }
  .icon {
    width: 21px;
    height: 35px;
  }
}


// High five

$high-five-duration: 200ms;

.high-five {
  position: absolute;
  left: 10px;
  top: 60px;
  opacity: 0;
  transition: opacity $transition-duration $transition-timing-function;
  will-change: opacity;
  .hand-icon {
    display: block;
    width: 100px;
    height: 100px;
    transition: transform 100ms ease-in-out;
    will-change: transform;
  }
  .dashes-icon {
    position: absolute;
    left: -36px;
    top: -73px;
    transform: scale(0.6) rotate(0deg);
    line {
      stroke-dasharray: 20;
      stroke-dashoffset: 20;
      animation-iteration-count: 1;
      animation-timing-function: ease-in-out;
      animation-duration: $high-five-duration;
      animation-fill-mode: forwards;
      will-change: transform;
    }
  }

  .high-five-circle {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    background-color: rgba(#D69AF5, .3);
    width: 250px;
    height: 250px;
    border-radius: 250px;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration: $high-five-duration;
    animation-fill-mode: forwards;
    will-change: transform;
  }
  &:hover {
    .hand-icon {
      transform: rotate(10deg);
    }
  }
  &.animating {
    cursor: $cursor-drag;
    .dashes-icon {
      line {
        animation-name: dashes;
      }
    }
    .high-five-circle {
      animation-name: circle;
    }
  }
}

@keyframes dashes {
  0% {
    stroke-dashoffset: 20;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes circle {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

#highfive {
  display: none;
}

// High five END





// Responsiveness

@media screen and (max-width: $screen-laptop) {
  .board-list-item-name {
    font-size: 28px;
    line-height: 40px;
  }
  .board-list-item-position {
    font-size: 24px;
    line-height: 36px;
  }
  .high-five {
    left: 0;
    top: 30px;
  }
}

@media screen and (max-width: $screen-mobile) {
  .board-list-item-name {
    font-size: 21px;
    line-height: 26px;
    letter-spacing: 1px;
  }
  .board-list-item-position {
    font-size: 18px;
    line-height: 24px;
    bottom: 10px;
  }
  .splide__arrows {
    display: none;
  }
  .board-list-item {
    padding-bottom: 90px;
  }
}

// Responsiveness END