.esports-section {
  background-image: url(../images/backgrounds/esports_background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  //height: 200vh;
  height: 2160px;
  overflow: hidden;
  position: relative;
  .container {
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    position: relative;
  }
}
.esports-text {
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 64px;
  line-height: 84px;
  color: $color-text;
}
.esports-words {
  position: relative;
  width: calc(234px + 20px);
  display: inline-block;
  vertical-align: text-top;
  margin: 0 -10px 0 10px;
}
.esports-word {
  position: absolute;
  left: -10px;
  top: -5px;
  width: 100%;
  height: 87px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #6969FB;
}

// Esports words

.esports-word-1 {
  background-color: #B8D15E;
  color: #F25917;
}
.esports-word-2 {
  background-color: #EBD131;
  color: #F25917;
}
.esports-word-3 {
  background-color: #258E87;
  color: #F28017;
}
.esports-word-4 {

}

// Esports words END

// Esports images

.esports-images {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  //position: relative;
  li {
    display: block;
    padding: 0;
    margin: 0;
    position: absolute;
  }
}

@media screen and ( min-width: 1921px ) {
  .esports-images {
    position: relative;
    height: 100%;
    width: 1920px;
    top: -100%;
  }
}

// Esports images END



// Responsiveness

@media screen and (max-width: $screen-laptop) {
  .esports-text {
    font-size: 52px;
    line-height: 84px;
  }
}

@media screen and (max-width: $screen-tablet) {
  .esports-images {
    li {
      &:not(.keep-on-tablet) {
        display: none;
      }
    }
  }
  .esports-text {
    font-size: 52px;
    line-height: 84px;
  }
}

@media screen and (max-width: $screen-mobile) {
  .esports-images {
    display: none;
  }
  .esports-word:not(.esports-word-4) {
    display: none;
  }
  .esports-words {
    width: auto;
    margin: 0;
  }
  .esports-word-4 {
    position: static;
    padding: 3px 7px;
    height: auto;
    width: auto;
  }
  .esports-text {
    font-size: 32px;
    line-height: 58px;
  }
  .esports-section {
    height: auto;
  }
  .esports-section .container {
    height: auto;
    padding-top: 150px;
    padding-bottom: 150px;
  }
}

// Responsiveness END