.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 27;
  font-family: "Space Grotesk", sans-serif;
  a {
    color: $color-static;
  }
  &.show-mobile-nav {
    .toggle-mobile-nav {
      background-color: $color-primary;
      color: #000;
    }
  }
}
.main-nav {
  //display: flex;
  //align-items: center;
  //justify-content: space-between;
  padding: 20px;
  display: grid;
  grid-template-columns: 250px 1fr 250px;
  align-items: center;
  justify-content: center;
}
.logo-svg {
  height: 30px;
  width: 43px;
  overflow: visible;
}
.logo-glasses {
  opacity: 0;
  transform: translateY(-10px);
  transition: transform $transition-duration * 3 $transition-timing-function, opacity $transition-duration * 3 $transition-timing-function;
}
.logo {
  cursor: $cursor-boss;
  &:hover, &:focus {
    .logo-glasses {
      opacity: 1;
      transform: translateY(0px);
    }
  }
}


.main-links {
  list-style: none;
  //display: block;
  display: none;
  padding: 0;
  margin: 0;
  text-align: center;
  li {
    display: inline-block;
    vertical-align: top;
    padding: 0;
    margin: 0 75px 0 0;
    &:last-of-type {
      margin-right: 0;
    }
  }
  .icon {
    display: none;
  }
  a {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    color: $color-static;
    position: relative;
    padding: 4px 5px 6px 5px;
    overflow: hidden;
    display: block;
    transition: color $transition-duration $transition-timing-function;
    &:before, &:after {
      content: '';
      display: block;
      position: absolute;
      height: 2px;
      width: calc(100% + 1px);
      top: calc(100% - 2px);
      left: -1px;
      transform: translateX(-100%);
    }
    &:before {
      background-color: $color-secondary;
      transition: transform $transition-duration $transition-timing-function;
    }
    &:after {
      background-color: $color-primary;
      transition-delay: $transition-duration;
      transition: transform $transition-duration $transition-timing-function;
    }
    &:hover, &:focus {
      color: $color-primary;
      &:before {
        transform: translateX(100%);
      }
      &:after {
        transform: translateX(0%);
        transition-delay: $transition-duration;
      }
    }
  }
}

.social-links {
  list-style: none;
  //display: block;
  display: none;
  padding: 0;
  margin: 0;
  li {
    display: inline-block;
    vertical-align: top;
    padding: 0;
    margin: 0 20px 0 0;
    &:last-of-type {
      margin-right: 0;
    }
  }
  span {
    display: none;
  }
  .icon {
    display: block;
    width: 30px;
    height: 28px;
  }
  a {
    transition: color $transition-duration $transition-timing-function;
    &:hover {
      color: $color-primary;
    }
    &:focus {
      color: $color-primary;
    }
    &:active {
      color: $color-static;
    }
  }
}

.toggle-mobile-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 36px;
  border: 0;
  background-color: transparent;
  color: $color-primary;
  padding: 0;
  margin: 0;
  position: absolute;
  right: 20px;
  top: 20px;
  .icon {
    width: 22px;
    height: 24px;
  }
}


// Responsiveness

@media screen and (min-width: $screen-tablet + 1px) {
  .toggle-mobile-nav {
    display: none;
  }
  .header {
    &.sticky {
      &:before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        height: 77px;
        width: 100%;
        background: linear-gradient(180deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%);
        z-index: -1;
        user-select: none;
        pointer-events: none;
      }
      .main-links {
        display: block;
      }
      .social-links {
        display: block;
      }
    }
  }
}





@media screen and (max-width: $screen-tablet) {
  .main-links, .social-links {
    position: absolute;
    right: 20px;
    background-color: #000;
    border: 2px solid $color-primary;
    width: 240px;
    display: none;
    li {
      display: block;
      margin: 0;
    }
    a {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      font-weight: 400;
      font-size: 24px;
      line-height: 29px;
      padding: 12px 24px;
    }
    .icon {
      display: block;
      width: 30px;
      height: 28px;
    }
  }
  .main-links {
    top: 60px;
    li {
      &:last-of-type {
        border-top: 2px solid $color-primary;
      }
    }
  }
  .social-links {
    top: calc(217px + 60px - 2px);
    span {
      display: block;
    }
  }
  
  .show-mobile-nav {
    .main-links, .social-links {
      display: block;
    }
  }
}

// Responsiveness END