// Colors
$color-static: #0DB7A2;
$color-primary: #1BDFCB;
$color-secondary: #D69AF5;
$color-text: #45FFEC;
$color-pink-active: #E8BDFF;


// Animations
$transition-duration: 270ms;
$transition-timing-function: ease;

// Spacings
$gap: 48px;
$section-padding: 90px;

// Cursors
$cursor-default: url(../images/icons/cursors/cursor.svg), auto;
$cursor-button: url(../images/icons/cursors/cursor_pointer.svg) 50 50, pointer;
$cursor-more-pink: url(../images/icons/cursors/cursor_download_pink.svg), auto;
$cursor-more-green: url(../images/icons/cursors/cursor_download_green.svg), auto;
$cursor-text-input: url(../images/icons/cursors/cursor_text.svg), auto;
$cursor-drag: url(../images/icons/cursors/cursor_drag.svg) 50 50, auto;
$cursor-hold: url(../images/icons/cursors/cursor_hold.svg) 50 50, auto;
$cursor-boss: url(../images/icons/cursors/cursor_boss.svg) 50 10, auto;
$cursor-click: url(../images/icons/cursors/cursor_click.svg) 27 50, auto;

// Responsiveness
$screen-laptop: 1619px;
$screen-tablet: 1199px;
$screen-mobile: 520px;