.text-input {
  input, textarea {
    display: block;
    border: 2px solid $color-static;
    height: 70px;
    width: 100%;
    padding: 0 32px;
    margin: 0;
    background-color: transparent;

    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    color: $color-static;
    cursor: $cursor-text-input;
    max-width: 100%;
    transition: border-color $transition-duration $transition-timing-function;
    &::placeholder {
      color: $color-static;
    }
    &:focus {
      border-color: $color-pink-active;
      &::placeholder {
        color: #5A5A5A;
      }
    }
  }
}
.text-input {
  textarea {
    font-family: "Inter", sans-serif;
    //height: 294px;
    height: 188px;
    padding-top: 22px;
    padding-bottom: 22px;
  }
}


// Responsiveness

@media screen and (max-width: $screen-mobile) {
  .text-input input, .text-input textarea {
    font-size: 18px;
    line-height: 22px;
    padding-left: 18px;
    padding-right: 18px;
  }
  .text-input input {
    height: 50px;
    line-height: 50px;
  }
}

// Responsiveness END
