// Inter

// Thin 100
@font-face {
  font-family: 'Inter';
  src: url('../fonts/inter/Inter-Thin.eot');
  src: url('../fonts/inter/Inter-Thin.woff') format('woff'),
  url('../fonts/inter/Inter-Thin.ttf') format('truetype'),
  url('../fonts/inter/Inter-Thin.svg') format('svg');
  font-weight: 100;
  font-style: normal;
}

// Extra Light 200
@font-face {
  font-family: 'Inter';
  src: url('../fonts/inter/Inter-ExtraLight.eot');
  src: url('../fonts/inter/Inter-ExtraLight.woff') format('woff'),
  url('../fonts/inter/Inter-ExtraLight.ttf') format('truetype'),
  url('../fonts/inter/Inter-ExtraLight.svg') format('svg');
  font-weight: 200;
  font-style: normal;
}

// Light 300
@font-face {
  font-family: 'Inter';
  src: url('../fonts/inter/Inter-Light.eot');
  src: url('../fonts/inter/Inter-Light.woff') format('woff'),
  url('../fonts/inter/Inter-Light.ttf') format('truetype'),
  url('../fonts/inter/Inter-Light.svg') format('svg');
  font-weight: 300;
  font-style: normal;
}

// Regular 400
@font-face {
  font-family: 'Inter';
  src: url('../fonts/inter/Inter-Regular.eot');
  src: url('../fonts/inter/Inter-Regular.woff') format('woff'),
  url('../fonts/inter/Inter-Regular.ttf') format('truetype'),
  url('../fonts/inter/Inter-Regular.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}

// Medium 500
@font-face {
  font-family: 'Inter';
  src: url('../fonts/inter/Inter-Medium.eot');
  src: url('../fonts/inter/Inter-Medium.woff') format('woff'),
  url('../fonts/inter/Inter-Medium.ttf') format('truetype'),
  url('../fonts/inter/Inter-Medium.svg') format('svg');
  font-weight: 500;
  font-style: normal;
}

// Semi Bold 600
@font-face {
  font-family: 'Inter';
  src: url('../fonts/inter/Inter-SemiBold.eot');
  src: url('../fonts/inter/Inter-SemiBold.woff') format('woff'),
  url('../fonts/inter/Inter-SemiBold.ttf') format('truetype'),
  url('../fonts/inter/Inter-SemiBold.svg') format('svg');
  font-weight: 600;
  font-style: normal;
}

// Bold 700
@font-face {
  font-family: 'Inter';
  src: url('../fonts/inter/Inter-Bold.eot');
  src: url('../fonts/inter/Inter-Bold.woff') format('woff'),
  url('../fonts/inter/Inter-Bold.ttf') format('truetype'),
  url('../fonts/inter/Inter-Bold.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}

// Extra Bold 800
@font-face {
  font-family: 'Inter';
  src: url('../fonts/inter/Inter-ExtraBold.eot');
  src: url('../fonts/inter/Inter-ExtraBold.woff') format('woff'),
  url('../fonts/inter/Inter-ExtraBold.ttf') format('truetype'),
  url('../fonts/inter/Inter-ExtraBold.svg') format('svg');
  font-weight: 800;
  font-style: normal;
}

// Black 900
@font-face {
  font-family: 'Inter';
  src: url('../fonts/inter/Inter-Black.eot');
  src: url('../fonts/inter/Inter-Black.woff') format('woff'),
       url('../fonts/inter/Inter-Black.ttf') format('truetype'),
       url('../fonts/inter/Inter-Black.svg') format('svg');
  font-weight: 900;
  font-style: normal;
}



// Space Grotesk
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

// IBM Plex Sans
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&display=swap');