.button-primary {
  background: $color-static;
  color: #000;
  font-weight: 500;
  font-size: 28px;
  font-family: 'Inter', sans-serif;
  text-decoration: none;
  display: inline-block;
  vertical-align: top;
  padding: 0 30px;
  height: 70px;
  line-height: 70px;
  text-transform: uppercase;
  text-align: center;
  cursor: $cursor-button;
  border: 2px solid transparent;
  transition: background-color $transition-duration $transition-timing-function, border-color $transition-duration $transition-timing-function;
  &:hover {
    background-color: $color-primary;
  }
  &:focus {
    background-color: $color-primary;
    border-color: $color-pink-active;
  }
  &:active {
    background-color: $color-static;
  }
}

.button-secondary {
  background: #0C000B;
  color: $color-secondary;
  font-weight: 500;
  font-size: 28px;
  font-family: 'Inter', sans-serif;
  text-decoration: none;
  display: inline-block;
  vertical-align: top;
  padding: 0 30px;
  height: 70px;
  line-height: 70px;
  text-transform: uppercase;
  text-align: center;
  cursor: $cursor-button;
  border: 2px solid transparent;
  transition: background-color $transition-duration $transition-timing-function, border-color $transition-duration $transition-timing-function;
  &:hover {
    color: $color-pink-active;
  }
  &:focus {
    color: $color-pink-active;
    border-color: $color-pink-active;
  }
  &:active {
    color: $color-secondary;
  }
}


.button-attach {
  background: none;
  color: $color-static;
  border: 0;
  display: inline-block;
  vertical-align: top;
  padding: 10px;
  cursor: $cursor-button;
  transition: color $transition-duration $transition-timing-function;
  input {
    display: none;
    &::-webkit-file-upload-button {
      visibility: hidden;
    }
  }
  .icon {
    display: block;
    height: 28px;
    width: 14px;
  }
  &:hover, &:focus {
    color: $color-primary;
  }
  &:active {
    color: $color-static;
  }
}


// Responsiveness

@media screen and (max-width: $screen-mobile) {
  .button-primary, .button-secondary {
    height: 50px;
    line-height: 50px;
    font-size: 18px;
  }
}

// Responsiveness END