.form {
  background-color: #000;
  padding: 4px;
  width: 1222px;
  margin-left: auto;
  margin-right: auto;
  p {
    font-weight: 400;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: $color-primary;
    margin: 0;
    padding: 0;
  }
}
.form-header {
  background-color: $color-static;
  margin-bottom: 4px;
  position: relative;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  &:before {
    content: '';
    position: absolute;
    z-index: 0;
    display: block;
    height: 22px;
    width: calc(100% - 8px);
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    left: 4px;
    top: 8px;
  }
  &:after {
    content: '';
    position: absolute;
    z-index: 0;
    display: block;
    height: 2px;
    width: calc(100% - 8px);
    background-color: #000;
    left: 4px;
    top: 19px;
  }
  h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 28px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    color: #000;
    padding: 5px 50px;
    margin: 0;
    position: relative;
    z-index: 1;
    background-color: $color-static;
    display: inline-block;
    vertical-align: top;
  }
}
.form-body {
  border: 2px solid $color-static;
  padding: 52px;
}